/* home.css */

/* home.css */

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.gif {
  background-image: url('/src/assets/images/welcome2.gif');
  background-size: cover;
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  height: 100vh;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  max-width: 400px;
  width: 100%;
  margin: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: translate(100%);
}

.card-image {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 20px;
  text-align: center;
}

.header1 {
  font-size: 28px;
  line-height: 32px;
  font-weight: 600;
  font-style: normal;
  color: #00a264;
  margin-bottom: 20px;
}

.card-content p {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  margin-bottom: 20px;
}

button {
  background-color: #00a264;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #007749;
}

@media screen and (min-width: 768px) {
  .card {
    margin: 20px auto; 
  }
}



